#aboutUs .adjustMargin {
    margin-left: -15%;
}
#aboutUs .horizontalImage {
    width: 50%;
}



.div1 {
  width: 800px;
  height: 300px;
  border: 1px solid blue;
  box-sizing: border-box;
  border-radius: 4rem;
}

.innerDiv{
    margin-left: 20%;
    margin-top: 4%;
}