<div style="DISPLAY:FLEX;justify-content: center;">

    <svg preserveAspectRatio="xMidYMid meet" id="comp-jo2y5rnasvgcontent" data-bbox="67.306 73.66 65.383 52.679"
        viewBox="67.306 73.66 65.383 52.679" height="60" width="60" xmlns="http://www.w3.org/2000/svg" data-type="color"
        role="img">
        <g>
            <path fill="rgba(80, 227, 194, 1)" d="M79.288 87.965l11.995 11.982L79.3 111.942 67.306 99.96l11.982-11.995z"
                data-color="1"></path>
            <path fill="rgba(80, 227, 194, 1)" d="M93.576 73.66l11.995 11.982L93.59 97.637 81.595 85.655 93.576 73.66z"
                data-color="1"></path>
            <path fill="rgba(80, 227, 194, 1)"
                d="M93.695 102.362l11.995 11.982-11.982 11.995-11.995-11.982 11.982-11.995z" data-color="1"></path>
            <path fill="rgba(80, 227, 194, 1)"
                d="M120.694 102.363l11.995 11.981-11.981 11.995-11.995-11.981 11.981-11.995z" data-color="1"></path>
        </g>
    </svg>

</div>


<form class="form-inline my-2 my-lg-0" style="margin-left: 20px;">


        <div style="float:left;margin: 25px;">
            <h2 style="color: #0052cc; text-align: center ; font-family:bold">Prepare for any Interview with our experts.</h2>       
            <br>
            <br style="clear:both" />
            <h5 style="color: #3399ff; text-align: left">SELECTERN is a platform where Freshers and candidate can find the best way to crack any Interview 
                with the help of our experts. 
                SELECTERN have the experienced team of corporate employees,helping Freshers and candidate to crack any Interview in corporate world.
                as Freshers don't know how to Manage and Answer the questions of the Interview and wasting Interview as a trial Method is not affordable sometimes, so we decided to help Freshers to be Prepared for every Interview in Corporate world.  
<h5>SELECTERN helps Freshers in the following way,</h5>
<br style="clear:both" />
<h5> · By providing Highly experienced corporate employees team to help them to crack Interview.</h5>
<br> 
<h5>· By providing them video interactive and video recording feature to Rewatch it and learn from it.</h5>  
<br>
<h5> · By clearly representing the way to Answer the questions in Interview.</h5>
<br>
<h5>. By Making them Confident and fully Prepared for their Interview </h5>
<br style="clear:both" />
<div class="sectionTitle">
    <h2 style="color:#0052cc; text-align:center;">WE STAND FOR</h2>
</div>
<br style="clear:both" />
 <br>

  <div class="custom" >
    <div style="float:left; margin: 20PX">
        <h2 style="color: #006bb3; text-align: center ; font-family:bold">Candidate first </h2>
        <p><h5>Every decision we make is centered around our Candidate needs and convenience.</h5>
    </div>
 
    <img src="assets\images\candidate.png" alt="interview image"
        style="height: 260px;width: 360px; float: left; margin: 50px; margin-top: 1%;" />
 </div>
 <br style="clear:both" />
 <br>
 <br>
 <br style="clear:both" />
 
 
  <div class="custom" >
    <img src="assets\images\download (1).png" alt="interview image"
    style="height: 240px;width: 340px; float: left; margin: 80px; margin-top: 0%;"  />
    <div style="float:left; margin: 25PX">
        <h2 style="color:  #006bb3; text-align: center ; font-family:bold">Simple and user friendly  </h2>
        <p><h5>Be it our website, or services - we strive to keep making things simpler.</h5> 
    </div>
    <br style="clear:both" />
 <br>
 <br>

 