<div style="DISPLAY:FLEX;justify-content: center;">

    <svg preserveAspectRatio="xMidYMid meet" id="comp-jo2y5rnasvgcontent" data-bbox="67.306 73.66 65.383 52.679"
        viewBox="67.306 73.66 65.383 52.679" height="60" width="60" xmlns="http://www.w3.org/2000/svg" data-type="color"
        role="img">
        <g>
            <path fill="rgba(80, 227, 194, 1)" d="M79.288 87.965l11.995 11.982L79.3 111.942 67.306 99.96l11.982-11.995z"
                data-color="1"></path>
            <path fill="rgba(80, 227, 194, 1)" d="M93.576 73.66l11.995 11.982L93.59 97.637 81.595 85.655 93.576 73.66z"
                data-color="1"></path>
            <path fill="rgba(80, 227, 194, 1)"
                d="M93.695 102.362l11.995 11.982-11.982 11.995-11.995-11.982 11.982-11.995z" data-color="1"></path>
            <path fill="rgba(80, 227, 194, 1)"
                d="M120.694 102.363l11.995 11.981-11.981 11.995-11.995-11.981 11.981-11.995z" data-color="1"></path>
        </g>
    </svg>

</div>

<style= "background-color: #ccffff"></style>

<h1 style="color: #0074a6; text-align: center; font-family:bold;"> SELECTERN</h1>
<h2 style="color: #008ae6; text-align: center; font-family:bold">Crack any Interview with our experts</h2>
<br>


<div class="imgcontainer">
    <img src="assets\images\imageonline-co-overlayed-image.jpg" alt="interview2" width="1500" height="800" style="margin-right: 15x;">
    <div class="top-right">
        <h1 style="color: #1a8cff; font-weight:600;">CRACKING INTERVIEW
        </h1>
        <h1 style="color: #1a8cff; font-weight:600;">MADE EASY!
        </h1>
            <form class="form-inline" >
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter email address"> &nbsp;&nbsp;
                    <button  class="form-control"
                        style="background-color: rgb(23, 162, 184); padding: 7.5px 15px; border-radius: 6px; color: rgb(255, 255, 255); margin-right: 40px">
                        Get started. It's FREE!</button>
                    </div>
            </form>
           
    </div>
</div>
 <br style="clear:both" /> 
 <br> 
<br>
<div class="container">   
    <div style="display:flex;justify-content: center;">
        <button class="btn btn-info btn-lg" routerLink="/plans">See our plans!</button>
    </div>
<div>
    <br style="clear:both" /> 
    <br>
    <div class="custom" >
       <img src="assets\images\pic int 2.jpg" alt="interview image"
           style="height: 200px;width: 300px; float: left; margin: 15PX;" />
   <div style="float:left;margin: 25px;">
       <h2 style="color: rgb(0, 57, 93); text-align: center ; font-family:bold">Speak with
           Confidence and without
           hesitation</h2>
       <h4 style="color: rgb(0, 116, 166); text-align: center ; font-family:bold">don't be
           afraid
           of mistakes,</h4>
           <h4 style="color:rgb(0, 116, 166); text-align: center ; font-family:bold">
                our experts will help in every aspect of interview</h4>
   </div>
</div>
<br style="clear:both" />
<br>
<br>

<div class="custom" >
   <div style="float:left; margin: 20PX">
       <h2 style="color:rgb(0, 57, 93); text-align: center ; font-family:bold">Watch and Rewatch </h2>
       <h4 style="color: rgb(0, 116, 166); text-align: center ; font-family:bold">
        Video recording feature gives you freedom to </h4>
       <h4 style="color:rgb(0, 116, 166); text-align: center ; font-family:bold"> record video to rewatch it
       </h4>
   </div>

   <img src="assets\images\interview.jpeg" alt="interview image"
       style="height: 210px;width: 310px; float: left; margin: 35px; margin-top: 1%;" />
</div>
<br style="clear:both" />
<br>
<br>

<div class="custom" >
   <img src="assets\images\pip int2.jpg" alt="interview image"
   style="height: 200px;width: 300px; float: left; margin: 25px;" />
   <div style="float:left; margin: 25PX">
       <h2 style="color: rgb(0, 57, 93); text-align: center ; font-family:bold">Schedule your interview </h2>
       <h4 style="color: rgb(0, 116, 166); text-align: center ; font-family:bold">
        Booking slots allows you to schedule interview, </h4>
       <h4 style="color:rgb(0, 116, 166); text-align: center ; font-family:bold"> so you can able to practice your interview skills at any time
       </h4>
   </div>
   <br style="clear:both" />
<br>
<br>
 
</div>
<br style="clear:both" />
</div>
</div>

<div class="container">
    <h3 style="color:rgb(0, 116, 166); text-align: center; font-weight:600;">Be Prepared for any Interview Question with the help of our Experts
    </h3>
    <br style="clear:both" />
    <input type="text" placeholder="Enter email address" style="padding: 10px 35px; background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); border-radius: 6px;  margin-left: 30%; margin-right: 30px;">
    <button style="background-color: rgb(23, 162, 184); padding: 7.5px 15px; border-radius: 6px; color: rgb(255, 255, 255);">START NOW!</button>  

    </div>