
<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">STANDARD</h5>
            <!--<h6 class="card-price text-center">$14.99<span class="period">/Unlimited</span></h6>-->
            <hr>
            <ul class="fa-ul">
               <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>15 Mins free trial</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>1 interview interaction</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Video Recording feature</strong></li>
            
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase" routerLink ="/payment">START NOW!</a>
          </div>
        </div>
      </div> 
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
            <!--<h6 class="card-price text-center">$39.99<span class="period">/month</span></h6> -->
            <hr>
            <ul class="fa-ul">
               <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>15 Mins free trial</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>3 Interview interactions</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>video Recording feature</strong></li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase" (click) = 'selectPlan()'>START NOW!</a>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
            <!--<h6 class="card-price text-center">$54.99<span class="period">/month</span></h6> -->
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong> 15 Minutes free trial</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong> Interview interactions</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong> Recording feature</strong></li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase"  routerLink ="/payment">START NOW!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>